
<div class="container" role="alert">
  <img class="img-circle d-none d-lg-inline mr-3 pull-left" height="100" width="100" src="/img/img5.jpg">
  <img class="thumbnail d-none d-lg-inline ml-3 pull-right" height="100" width="100" src="/img/img3.jpg">
  <h4 class="center blue-text mt-0 indexHeadings">Imo State Polytechnic Umuagwo <br> P.M.B :1472</h4>
</div>
<hr>

<div class="well"><h2 class="page-header voteHeadings">Imopoly SUG Presidnetial Election Results</h2></div>
<div class="container">
<h3 class="well">The ongoing SUG presidential election has ended and the results is as follows </h3>
<div class="row">
    <div class="col-md-3">
      <img class="card w-50 h-50" src="/img/first.jpg">
    {{george.length}} votes
    </div>

    <div class="col-md-3">
      <img class="card w-50 h-50" src="/img/second.jpg">
{{pascal.length}} votes
   
    </div>
    <div class="col-md-3">
      <img class="card w-50 h-50" src="/img/third.jpg">
{{chijioke.length}} votes
    </div>
    <div class="col-md-3">
      <img class="card w-50 h-50" src="/img/fourth.jpg">
{{esther.length}} votes

    </div>
</div>

</div>


<h2>{{winner}}  {{total}}  </h2>
<h3>{{noWinnerYet}}</h3>
<h3>{{shifted}}</h3>







</main>


<footer class="page-footer brown darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">VotingApllication</h5>
        <p class="grey-text text-lighten-4">your vote is your power</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="green-text"><a href="/vote">VOTE</a></h5>
        <ul>
          <li><a class="blue-text text-lighten-3" href="https://youtube.com"><i class="fa fa-address-book-o" aria-hidden="true">youtube</i></a></li>
          <li><a class="grey-text text-lighten-3" href="https://facebook.com"><i class="fa fa-facebook" aria-hidden="true">facebook</i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      online votePollApplication votePollApp developed by George Nwagbara a.k.a BlackHandsome
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>